*{
    padding: 0%;
    margin: 0%;
    
}

body{
    background-color: white;
}
.head{
    display: flex;
    max-width: 100%;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 20px;
    background-color: black;
   
}


a{
    text-decoration: none;
    color: #f4f269;
}

.top{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
  
    padding-bottom: 20px;
    align-self: flex-start;
}

.top img{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
}

.ribbon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #42047e;
    padding-bottom: 1%;
    color: #f4f269;
}

.main-div{
    width: 100%;
    height:100%;
   
}  


main{
    display: flex;

}

.content{
  display: none;
}





@keyframes slideIn {
    from {
        transform: translate(-50%, -100%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}



.wrap-input-5 .input {
    border-radius: 10px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 5px 0 7px;
    border: 1px solid 
  transparent;
    border-bottom-color: 
  #ccc;
    transition: 0.4s;
    background-color: 
  #f5f6fd;
    height: 36px;
  }
  
  .wrap-input-5 .input:focus {
   
    outline: none;
    padding: 5px 14px 7px;
    transition: 0.4s;
  }
  
  .wrap-input-5 {
    width: 20%;
    margin: 40px 3%;
    position: relative;
  }
  
  .wrap-input-5 .input ~ .focus-border {
    position: absolute;
    height: 36px;
    bottom: 0;
    left: 0;
    width: 0;
    transition: 0.4s;
  }
  .wrap-input-5 .input:focus ~ .focus-border {
    width: 100%;
    border-radius: 10px;
    transition: 0.4s;
    border: 2px solid 
  #6c5dd3;
  }



  .btn-55,
  .btn-55 *,
  .btn-55 :after,
  .btn-55 :before,
  .btn-55:after,
  .btn-55:before {
    border: 0 solid;
    box-sizing: border-box;
  }


.data form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


  .btn-55 {
     margin-right: 10px;
    align-self: flex-end; 
    -webkit-tap-highlight-color: 
  transparent;
    -webkit-appearance: button;
    background-color: 
  #000;
    background-image: none;
    color: 
  #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 10;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
  }
  .btn-55:disabled {
    cursor: default;
  }
  .btn-55:-moz-focusring {
    outline: auto;
  }
  .btn-55 svg {
    display: block;
    vertical-align: middle;
  }
  .btn-55 [hidden] {
    display: none;
  }
  .btn-55 {
    background: linear-gradient(90deg, blue, red);
    border-radius: 999px;
    box-sizing: border-box;
    color: 
  #000;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 1.8rem 5rem;
    position: relative;
    text-transform: uppercase;
  }
  .btn-55 span {
    background: 
  #1e293b;
    border-radius: 999px;
    color: 
  #fff;
    display: grid;
    inset: 5px;
    place-items: center;
    position: absolute;
    transition: background 0.3s;
  }
  .btn-55:hover span {
    background: none;
  }

 
.semester{
    padding-top: 10%;
    padding-left: 10%;
    width: 100%;
    display: flex;
   
}

h4{
    padding-bottom: 0%;
}



.circle-div{
      
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}



.inner{

  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: white;
   
}

input::placeholder{
 
   text-align: center;
}



.progress-circle {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
  padding-left: 20px;
  height: 100%;
  margin: 20px auto;
}

.progress-circle svg {
  
  transform: rotate(-90deg);
}

.progress-circle circle {
  transition: stroke-dashoffset 0.3s;
}

.progress-circle .progress-background {
  stroke-dasharray: 283; 
  stroke-dashoffset: 0; 
}

.progress-circle .progress-bar {
  stroke-dasharray: 283; 
  stroke-dashoffset: 283; 
}

.progress-percentage{
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: green;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: wheat;
  border-radius: 15%;
}

h4{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}



.total {
  margin: 0%;
  padding-left: 0%;
}

.quiz{
  display: flex;
  justify-content: space-evenly;
  justify-items: left;
  align-items:center;
}

.c2 p{
 visibility: hidden;
}

.wrap-check-40 .tgl {
  display: none;
}
.wrap-check-40 .tgl,
.wrap-check-40 .tgl:after,
.wrap-check-40 .tgl:before,
.wrap-check-40 .tgl *,
.wrap-check-40 .tgl *:after,
.wrap-check-40 .tgl *:before,
.wrap-check-40 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.wrap-check-40 .tgl::-moz-selection,
.wrap-check-40 .tgl:after::-moz-selection,
.wrap-check-40 .tgl:before::-moz-selection,
.wrap-check-40 .tgl *::-moz-selection,
.wrap-check-40 .tgl *:after::-moz-selection,
.wrap-check-40 .tgl *:before::-moz-selection,
.wrap-check-40 .tgl + .tgl-btn::-moz-selection,
.wrap-check-40 .tgl::selection,
.wrap-check-40 .tgl:after::selection,
.wrap-check-40 .tgl:before::selection,
.wrap-check-40 .tgl *::selection,
.wrap-check-40 .tgl *:after::selection,
.wrap-check-40 .tgl *:before::selection,
.wrap-check-40 .tgl + .tgl-btn::selection {
  background: none;
}
.wrap-check-40 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.wrap-check-40 .tgl + .tgl-btn:after,
.wrap-check-40 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.wrap-check-40 .tgl + .tgl-btn:after {
  left: 0;
}
.wrap-check-40 .tgl + .tgl-btn:before {
  display: none;
}
.wrap-check-40 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.wrap-check-40 .tgl-ios + .tgl-btn {
  background: 
#fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid 
#e8eae9;
}
.wrap-check-40 .tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: 
#fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px 
rgba(0, 0, 0, 0.1), 0 4px 0 
rgba(0, 0, 0, 0.08);
}
.wrap-check-40 .tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.wrap-check-40 .tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em 
#e8eae9;
}
.wrap-check-40 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.wrap-check-40 .tgl-ios:checked + .tgl-btn {
  background: 
#86d993;
}
.wrap-check-40 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.wrap-check-40 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}


@media(max-width:570px){
   main{
    display: block;
   }
   .ribbon h3{
    font-size: 10px;
   }
}

#checkbox-div{
  padding-left: 10px;
}

.hidden{
  display: none;
}

.hidden2{
  display: none;
}

#removecourse{
  margin-top: 10px;
  display: none;
}


#removesem{
  margin-top: 10px;
  display: none;
}
